<style>
    input[type=text] {
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid silver;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    button {
        border: 2px solid silver;
        background-color: white;
        font-size: 16px;
        padding: 10px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        cursor: pointer;
    }

    button:active {
        border-color: black;
    }

    #container {
        border: 2px darkred dashed;
        padding: 20px;
    }
</style>

<div id="container">
  
    <div>
        <img src="../../../assets/angular.png" width="50">
    </div>
    <h1>Books</h1>
    
    <div>
        <label for="livros">Escolha um livro:</label>
        <select id="livros">
            <option value="livro1">Nome do Livro 1</option>
            <option value="livro2">Nome do Livro 2</option>
            <option value="livro3">Nome do Livro 3</option>
            <option value="livro4">Nome do Livro 4</option>
            <option value="livro5">Nome do Livro 5</option>
            <option value="livro6">Nome do Livro 6</option>
            <option value="livro7">Nome do Livro 7</option>
            <option value="livro8">Nome do Livro 8</option>
            <option value="livro9">Nome do Livro 9</option>
            <option value="livro10">Nome do Livro 10</option>
        </select>
    </div>
    
    
</div>